<!DOCTYPE HTML>
<html>
    <head>
        <title>Is Nuclear energy an alternative?</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">                                    <!-- this will enable the use of bootsrap which is essential-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">  <!-- as well this works so everything can be re-escale depending on the devices that is being use-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

        <style>         

            p{                                                                              
                font-family:times 'Times New Roman', Times, serif;
                color:black;

            }
            h1{
                font-family:'Times New Roman', Times, serif;
                color:black;
                font-size:large;
            }
            
            body{
                background-color:rgb(241, 242, 235);
            }
            
        </style>
    </head> 
    <body>
        
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">             <!-- this will create a container fluid wich will reach all rhe way to the borderlines-->
            <div class="container-fluid d-flex align-items-center">
                <a class="nav-item" href="https://compscistu.capilanou.ca/~santiagosanchezcovar/project/Webpages%201/Index.html" taget="_blank">
                    <a href="https://compscistu.capilanou.ca/~santiagosanchezcovar/project/Webpages%201/Index.html">
                    <img src="Logo.png" style="width:160px;height:128px" alt="Genova Energy Logo">      <!-- in case  there's no image alt will indicate what it is suppose to be there-->
                    </a><!-- this will make the Image of the logo into a clickable image which will redirect back home-->

                </a> <!-- this will redirect to the main website by cliking the image-->
                <p class="h1">
                    <ul class="navbar-nav mx-auto fs-4" >                                 <!-- fs will make the font size bigger with bootstrap, fomr 1 to 6 being 6 the biggest one-->
                        <li class="nav-item me-4">
                            <a class="nav-link active" href="https://compscistu.capilanou.ca/~santiagosanchezcovar/project/Webpages%201/Index.html">Home</a>
                         </li>
                        <li class="nav-item me-4">                                                          <!-- me will create more space between the list from 1 to 5 being 5 the biggest one-->
                            <a class="nav-link active" href="https://compscistu.capilanou.ca/~santiagosanchezcovar/project/Webpages%201/Nuclear energy.html"> Nuclear Energy </a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link active" href="https://compscistu.capilanou.ca/~santiagosanchezcovar/project/Webpages%201/Disadvantage.html">Disadvantages of Nuclear Energy </a>
                        </li>
                        <li class="nav-item me-4">
                           <a class="nav-link active" href="https://alternativenuclearenergy.wordpress.com/2025/03/11/genova-energy/">Blog</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link active" href="https://compscistu.capilanou.ca/~santiagosanchezcovar/project/Webpages%201/About us.html">Contact us</a>
                        </li>
                    </ul>
                </p>
            </div>

        </nav>
        
        <div class="container mt-5">        <!-- a container is created, remember inside a container, the space can only reach up to 12 numbers-->
            
            <div class="row">           <!-- a row is created-->
                <div class="col-sm-12" style="color:black; font-family: 'Times New Roman', Times, serif;">  <!-- a column wiht space of 2 is created-->

                    <p class="h2" style="text-align:center;"> <b>What is Genova Energy?</b></p>
                    <p style="text-align: center; font-size:large;"> 
                       <i> Genova Energy is an organization that provides unbiased information on nuclear energy and its alternatives, helping people form their own opinions based on verified facts. </i>
                        <br>
                        <br>
                        This blog will talk about Nuclear Energy and how it is one of the current hot topics when talking about the different types of alternative energies. 
                        Nuclear Energy is a hot topic due to the problems it has caused humanity in the past and the consequences it has had. But before jumping into this, let’s 
                        talk about the energies that humanity uses the most.
                <br>
                       <img src="nuclear.webp" class="img-fluid pt-4">    <!-- pt will create some space between the top part and the image-->
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="container mt-3">

            <div class="row">
                <div class="col-sm-12">
                    
                    <br>
                    <p class="h2" style="text-align: center;"> Most used Energies</p>
                    <p style="text-align: center; font-size: large;">
                        The principal source of energy is coal, oil has become the second largest source of energy for human beings, and gas is the third largest energy resource, 
                        which provides electricity production. Nevertheless, it is far from being safe to the world since these three energies are the ones that pollute the most. 
                    </p>
                </div>
            </div>
        </div>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="Coal.png" alt="coal consumption" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="Oil.png" alt="oil consumption" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img src="Gas.png" alt="gas consumption" class="img-fluid">
                    </div>

                </div>

                <div class="ratio ratio-16x9 mt-5 embed-responsive embed-responsive-16by9 mx-auto" style="width: 400px; height: 300px;"> <!--this will add a video embed in the website-->
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RnvCbquYeIM" allowfullscreen></iframe> <!-- by using that class, it will move to the right, and allow full screen will let all the devices be more responsive-->
                </div>
            </div>
            <br>
            <br>
            
            <hr>
            <br>
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-12">
                    <p class="h2" style="text-align: center;">Alternative Energies</p>
                    <p style="text-align: justify; font-size: large;">
                        Alternative energies are those energies that give a different choice besides the commonly used energies such as the gas, oil and coal.
                        Some examples of alternative energies are the renewable energies, such as solar, wind, geothermal, bioenergy, etc.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-2">
            <table class="table table-bordere table-light" >    <!-- this will create a table so i can describe all the energies-->
                <thead class="thead-dark">
                    <tr>
                        <th style="font-size: large;">Name</th>
                        <th style="text-align: center; font-size: large;">Description</th>
                        <th style="font-size: large;">Image</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                        <td class="align-middle" style="font-size: large;"> <b>Solar Energy </b></td>
                        <td style="text-align: center;" class="align-middle">The most abundant energy, affected by cloudy weather; it converts the sunlight into electrical energy through photovoltaic panels or mirrors. </td>
                        <td> <img src="solar.webp" class="img-fluid" width="300" height="300"> </td>
                   </tr>
                   <tr>
                        <td class="align-middle" style="font-size: large;"><b>Wind Energy</b></td>
                        <td style="text-align: center;" class="align-middle">Uses the kinetic energy of moving air by using large wind turbines located on land, or in the sea, or fresh water.</td>
                        <td> <img src="Wind.jpeg" class="img-fluid" width="200" height="175"> <br> Photo by Santiago </td>
                   </tr>
                   <tr>
                        <td class="align-middle" style="font-size: large;"><b>Geothermal Energy </b></td>
                        <td style="text-align: center;" class="align-middle">Utilizes thermal energy from the interior of the Earth. 
                            Thanks to the Earth's internal temperature, the reservoirs get hot and charged due to hydraulic stimulation, which can later be used as energy.
                        </td>
                        <td> <img src="geo.jpg" class="img-fluid" width="400" height="400"> </td>
                    </tr>
                    <tr>
                        <td class="align-middle" style="font-size: large;"><b>Hydropower</b></td>
                        <td style="text-align: center;" class="align-middle">Captures the energy of moving water, from higher to lower elevations. This energy is currently the largest source of renewable energy.</td>
                        <td> <img src="Hydropower.jpg" class="img-fluid" width="300" height="250"> </td>
                   </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <p class="h3" style="text-align: center; font-size: large;">

                    </p>
                </div>
            </div>
        </div>
            
        <div class="container">
                    <p class="h3"><b>Leave us feedback :)</b></p>
                    <p> We value your opinion</p>
                    <form action="/action_page.php">
                        <div class="mb-3 mt-3">
                            <label for="comments:"></label>
                            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" disabled>
                            <span class="spinner-border spinner-border-sm"></span>Submit...
                        </button>
                    </form> 
        </div>
        <div class="container-xl-fluid mt-3 h-100" >
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">             <!-- this will create a container fluid wich will reach all rhe way to the borderlines-->
                <div class="container-fluid d-flex ">
                    <a class="nav-item" href="https://compscistu.capilanou.ca/~santiagosanchezcovar/project/Webpages%201/Index.html" taget="_blank">
                        <a href="https://compscistu.capilanou.ca/~santiagosanchezcovar/project/Webpages%201/Index.html">
                        <img src="Logo.png" style="width:160px;height:128px" alt="Genova Energy Logo">      <!-- in case  there's no image alt will indicate what it is suppose to be there-->
                        </a>
                    <p class="h1">
                        <ul class="navbar-nav mx-auto fs-4" >                                 <!-- fs will make the font size bigger with bootstrap, fomr 1 to 6 being 6 the biggest one-->
                            <li class="nav-item me-4">
                                <a class="nav-link active" href="https://compscistu.capilanou.ca/~santiagosanchezcovar/project/Webpages%201/About us.html" target="_blank">Contact us</a>
                            </li>
                            <li class="nav-item me-4">
                                <a class="nav-link active" href="https://alternativenuclearenergy.wordpress.com/2025/03/11/genova-energy/" target="_blank">Visit our blog</a>
                            </li>
                        </ul>
                    </p>
                </div>
    
            </nav>
        </div>
    </body>

</html>